html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --light-gray: #666666;
    --dark-blue: #42446E;
    --text-black: #000000;
    --highlight-text: #13B0F5;

    --metal-blue: linear-gradient(135deg,
            #0057FF 0%,
            #00C8FF 35%,
            #DDE4EC 65%,
            #7F8C9A 100%);
}


main,
footer {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

/* NAVBAR STYLES */

.navbar {
    font-family: "DM Sans", sans-serif;
}

.navbar-brand img {
    width: 60px;
}

.nav-link {
    color: var(--light-gray) !important;
    font-size: 14px;
}


/* PRESENTATION STYLES */

.presentation {
    max-width: 1000px;
    margin: 80px auto 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.15;
    color: var(--dark-blue);

    margin: 0;
}

.presentation .name {
    background: var(--metal-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.presentation img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;

    border: 5px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        var(--metal-blue) border-box;
}


/* TECH STYLES */

.tech {
    max-width: 1100px;
    margin: 150px auto 0;
    text-align: center;
}

.tech h2 {
    color: var(--dark-blue);
}

.tech p {
    color: var(--light-gray);
}

.tech a {
    padding: 0;
}

.tech-item {
    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease;
}

.tech-img {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.tech-item:hover {
    transform: translateY(-5px);
}

/* PROJECTS STYLES */



/* FOOTER STYLES */



/* MEDIA QUERIES */

@media (max-width: 850px) {
    .presentation {
        flex-direction: column;
        text-align: center;
        gap: 40px;
        margin-top: 50px;
    }

    .presentation h1 {
        font-size: 32px;
    }

    .presentation img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 768px) {

    .tech {
        margin-top: 100px;
        padding: 0 20px;
    }

    .tech-icons {
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }

    .tech-item {
        width: 65px;
        height: 65px;
    }

    .tech-img {
        width: 45px;
        height: 45px;
    }
}


@media (max-width: 480px) {

    .presentation img {
        width: 250px;
        height: 250px;
    }
}