:root {
    --light-gray: #666666;
    --dark-blue: #42446E;
    --text-black: #000000;
    --light-text: #A7A7A7;
    --highlight-text: #13B0F5;

    --metal-blue: linear-gradient(135deg,
            #0057FF 0%,
            #00C8FF 35%,
            #DDE4EC 65%,
            #7F8C9A 100%);
}


/* ABOUT STYLES */

.about {
    max-width: 1100px;
    margin: 70px auto;
}

.about>.title {
    color: var(--dark-blue);
}

.about>p {
    color: var(--light-gray);
    text-align: justify;
    line-height: 26px;
}


/* JOBS STYLES */

.jobs {
    max-width: 1100px;
    margin: 70px auto;
}

.jobs>.title {
    color: var(--dark-blue);
}

.job-container {
    max-width: 900px;
    padding: 0 0 25px;
    border-bottom: 1px solid #E5E5E5;
}

.job-container h3 {
    margin: 0;

    color: var(--light-gray);
    font-size: 18px;
    font-weight: 500;
}

.job-info {
    margin-top: 10px;
}

.job-info a,
.job-info p {
    margin: 0;

    color: var(--light-text);
    font-size: 13px;
    text-decoration: none;
}

.job-info i {
    margin-right: 5px;
}

.job-date {
    white-space: nowrap;
}

.job-type {
    padding: 0.5rem 1.8rem;

    color: #018C0F;
    font-size: 12px;
    font-weight: 500;

    background-color: #D7FFE0;
    border-radius: 2rem;

    text-decoration: none;
}


/* EDUCATION STYLES */

.education {
    max-width: 1100px;
    margin: 70px auto;
}

.education>.title {
    color: var(--dark-blue);
}

.education-container {
    max-width: 900px;
    padding: 0 0 25px;

    border-bottom: 1px solid #E5E5E5;
}

.education-header h3 {
    margin: 0;

    color: var(--light-gray);
    font-size: 18px;
    font-weight: 500;
}

.education-info {
    margin-top: 10px;
}

.education-info p,
.education-info a {
    margin: 0;

    color: var(--light-text);
    font-size: 13px;
    text-decoration: none;
}

.education-info>.d-flex>p:first-child {
    color: var(--light-gray);
}

.education-info i {
    margin-right: 5px;
}

.education-date {
    white-space: nowrap;
}

.education-type {
    padding: 0.5rem 1.8rem;

    color: #018C0F;
    font-size: 12px;
    font-weight: 500;

    background-color: #D7FFE0;
    border-radius: 2rem;

    text-decoration: none;
}


/* HOVERS */

.job-container,
.education-container {
    transition: border-color 0.3s ease;
}

.job-container:hover,
.education-container:hover {
    border-color: var(--highlight-text);
}

.job-container h3,
.education-container h3 {
    transition: color 0.3s ease;
}

.job-container:hover h3,
.education-container:hover h3 {
    color: var(--dark-blue);
}


/* MEDIA QUERIES */

@media (max-width: 768px) {

    .about {
        padding: 0 20px;
    }

    .about p {
        font-size: 14px;
    }





    .jobs {
        padding: 0 20px;
    }

    .job-container {
        width: 100%;
    }

    /* Header: job + type */

    .job-container>.d-flex:first-child {
        gap: 15px;
    }

    .job-container h3 {
        font-size: 17px;
    }

    .job-type {
        flex-shrink: 0;
        padding: 0.5rem 1.4rem;
        font-size: 12px;
    }

    /* Information */

    .job-info {
        flex-direction: column;
        gap: 8px;
    }

    .job-info>.d-flex {
        flex-direction: column;
        gap: 8px !important;
    }

    .job-info a,
    .job-info p {
        font-size: 13px;
    }

    .job-info a {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .job-info i {
        margin-right: 0;
        flex-shrink: 0;
    }

    .job-date {
        white-space: normal;
    }




    .education {
        padding: 0 20px;
    }

    .education-container {
        width: 100%;
    }

    .education-header {
        gap: 15px;
    }

    .education-header h3 {
        font-size: 17px;
    }

    .education-type {
        flex-shrink: 0;
        padding: 0.5rem 1.4rem;
        font-size: 12px;
    }

    .education-info {
        flex-direction: column;
        gap: 8px;
    }

    .education-info>.d-flex {
        flex-direction: column;
        gap: 8px !important;
    }

    .education-info a,
    .education-info p {
        font-size: 13px;
    }

    .education-info a {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .education-info i {
        margin-right: 0;
        flex-shrink: 0;
    }

    .education-date {
        white-space: normal;
    }
}