main {
    margin-right: 1rem;
    margin-left: 1rem;
}

/* PROJECT PRESENTATION STYLES */

.project-presentation {
    max-width: 1100px;
    margin: 70px auto 0;
}

.project-presentation>.title {
    color: var(--dark-blue);
}

.project-presentation p {
    color: var(--light-gray);
}


/* PROJECTS STYLES  */

.project {
    margin-top: 80px;
}


.project-presentation > p {
    margin-bottom: 0;
}